.radio{
    padding: 10px;
    text-align: left;
}
input[type="checkbox"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 20px;
    height: 20px;
    margin-right: .4em;
    border-radius: 5px;
    border: 1px solid #FFAA00;
    text-indent: .15em;
    line-height: 1; 
    box-sizing: border-box;
}
input[type="checkbox"]:checked + label::before {
    background-color: #FFAA00;
    background-clip: content-box;
    padding: .2em;
}
input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}